.profile-container {
  height: 90vh;
  width: 75vw;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 20px auto;
}

.profile-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 35px 60px;
}

.profile-image {
  height: 20vh;
  width: 20vh;
  max-width: 200px;
  border-radius: 50%;
  background-color: azure;
  overflow: hidden;
}

.profile-image > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.profile-username > h1 {
  font-size: 4rem;
  margin: 0;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: first baseline;
  padding: 20px 8px;
}

.form-half {
  width: 40%;
}

.form-password {
  margin: 20px 0;
}

.form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 40px;
}
