<app-header></app-header>
<section class="intro-section">
  <div class="bubbles">
    <div class="bubble1">
      <img src="../../../assets/images/logo-part1.png" alt="logo-part1" />
    </div>
    <div class="bubble2">
      <img src="../../../assets/images/logo-part2.png" alt="logo-part2" />
    </div>
  </div>
  <div class="logo-home">
    <img src="../../../assets/images/logo.png" alt="logo" />
  </div>

  <h2 class="intro-subtitle">The best way to manage your Learning Center</h2>
</section>
