@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,300;0,6..12,500;0,6..12,800;1,6..12,400&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: "Nunito Sans", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;
  --fw-light: 300;
  --fw-reg: 500;
  --fw-bold: 800;
  --menu-width: 230px;
  --clr-light: #fefefe;
  --clr-dark: #0091ff;
  --clr-accent: #1dd4fd;
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 0.85rem;
  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 0.95rem;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

:focus {
  outline: 2px solid var(--clr-accent);
}

.btn-start {
  position: relative;
  padding: 15px;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  font-size: 18px;
  font-weight: var(--fw-bold);
  border-radius: 25px;
  font-family: inherit;
  transition: background-color 0.2s ease-in-out, transform 0.1s;
  border: none;
  min-width: 120px;
  max-height: 60px;
  margin: 10px 0;
  cursor: pointer;

  &:hover {
    background-color: var(--clr-accent);
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}

.btn-save {
  background-color: #3cb371;

  &:hover {
    background-color: #2e8b57;
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}

.btn-reset {
  background-color: #ff6347;

  &:hover {
    background-color: #ff4500;
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.95);
  }
}

.active-item {
  background: linear-gradient(
    to right,
    var(--clr-dark) 0%,
    var(--clr-accent) 100%
  );

  color: var(--clr-light);
}

/* forms */
.form-group label {
  font-weight: 800;
  color: var(--clr-dark);
}

.form-group input,
.form-group select {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
  font-size: 16px;
  font-family: var(--ff-primary);
  font-weight: 800;
}

.form-group input:focus,
.form-group select:focus {
  outline: none;
  box-shadow: 0 0 5px var(--clr-dark);
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  box-shadow: 4px 4px 8px rgba(250, 5, 5, 0.695);
}

.form-helper {
  color: #777;
  margin-top: -3px;
}

.file-label {
  font-weight: 800;
  color: var(--clr-dark);
  background-color: var(--clr-light);
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 10px;
}

.file-input {
  position: absolute;
  left: -9999px;
}

.file-label:focus-within,
.file-label:hover {
  box-shadow: 0 0 5px var(--clr-dark);
}

.file-label.invalid-touched {
  box-shadow: 4px 4px 8px rgba(250, 5, 5, 0.695);
}

.subadmin-container {
  height: 90vh;
  width: 75vw;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 20px auto;
}

/**/
.instructor-card {
  background-color: #c9d6fc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: inline-block;
  width: 300px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 10px;
}

.instructor-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.profile-pic img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
  transition: transform 0.3s;
}

.instructor-card:hover .profile-pic img {
  transform: scale(1.1);
}

.info h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.info p {
  margin: 5px 0;
  font-size: 16px;
}

.btn-tiny {
  min-width: 30px;
  max-height: 30px;
  padding: 5px 12px;
  margin: 3px 0;
}

.instructor-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.actions {
  display: flex;
  flex-direction: column;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 800px;
  padding: 5px;
  max-width: 350px;
}

.search-container input {
  border: none;
  outline: none;
  padding: 5px;
  font-size: 16px;
  font-family: inherit;
}

.search-container button {
  border: none;
  background: transparent;
  cursor: pointer;
  margin-left: 5px;
}

.search-container button i {
  font-size: 16px;
  color: #555;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
}

.form-label-radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}
